<h1>Editing Post</h1>




<%= form_tag("/posts/#{@post.id}/edit", :method => :update) do %>
    <% if @post.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
                        <ul>
                                <% @post.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                <% end %>
                        </ul>
                </div>
        <% end %>
        name:<input name="post[name]" value="<%= @post.name %>">
        <br>
        problem:<textarea name="post[problem]" value="<%= @post.problem %>" rows="5" cols="40" ><%= @post.problem %></textarea>
        <br>
        latitude:<input name="post[latitude]" value="<%= @post.latitude %>">
        <br>
        longitude:<input name="post[longitude]" value="<%= @post.longitude %>">
        <br>
        image:<%= image_tag @post.img.to_s %>
        <br>
        
        <% if @post.display %>
            display:<input name="post[display]" type="hidden" value="false" checked="checked" /><input name="post[display]" type="checkbox" value="true" checked="checked" />
        <% else %>
            display:<input name="post[display]" type="hidden" value="false" /><input name="post[display]" type="checkbox" value="true" />
        <% end %>
        <br>
        <input type="submit" value="変更">
        
<% end %>



<%= link_to 'Back', '/posts/index' %>
