<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Problem</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Display</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.problem %></td>
        <td><%= post.latitude %></td>
        <td><%= post.longitude %></td>
        <td><%= post.display %></td>
        <td><%= image_tag post.img.url , :width => '320' %></td>
        <td><%= link_to 'Edit', '/posts/' + (post.id).to_s + '/edit', method: :get%></td>
        <td><%= link_to 'Destroy', '/posts/' + (post.id).to_s , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'logout', '/logout', {method: "post"}%>
